@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}
/* nav bar design  */
.menu:hover{
    color: #CB6BE6;
    border-color: #CB6BE6;
}
#desktop{
  display: none;
  z-index: 999;
}

.bg{
    background: rgb(203,107,230);
background: linear-gradient(90deg, rgba(203,107,230,1) 53%, rgba(107,0,138,1) 100%);
}
 @media only screen and (min-width: 872px) {
   body {
     background-color: #cfcfcf;
   }
   #desktop{
    display: flex;
   }
  #mobile{
    display: none;
  }
 }